@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

.hide-scrollbar {
  scrollbar-width: none; /* For Firefox */
}

.toaster {
  color: #4b5563; /* Tailwind's text-gray-600 */
}

/* Custom Scrollbar */
.filter-scrollbar::-webkit-scrollbar {
  height: 8px; /* for horizontal scroll */
}

.filter-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.filter-scrollbar::-webkit-scrollbar-thumb {
  background-color: #f2f2f2; /* Tailwind gray-400 */
  border-radius: 9999px; /* fully rounded */
  border: 2px solid transparent;
  background-clip: content-box;
}

/* Optional: Firefox */
.filter-scrollbar {
  scrollbar-color: #f2f2f2 transparent;
  scrollbar-width: thin;
}
